---
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-lg md:text-xl font-bold whitespace-nowrap tracking-tight">
  <span class="text-heading">Sarvysh</span>
  <span class="gradient-text ml-1">D Hulani</span>
</span>
